container_commands:
  01_createdb:
    command: php bin/console doctrine:database:create --if=-not-exists
  01_createdb:
    command: php bin/console doctrine:schema:update --force

files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      error_log=/var/tmp/php_errors.log
