.AttackModifierTotal{
  display: inline-block;
  margin: 0px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid black;
}

/*.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}*/

.btn-default.active,
.btn-default.active.focus,
.btn-default.active:hover,
.btn-default.active.focus:hover
{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-default.focus
{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
