{% extends 'test/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/initiativeTracker.css') }}">
{% endblock %}

{% block content %}
<h1>Initiative Tracker</h1>
<h2 id="roundTracker" class="nodisp">Round: <span id="roundCounter">1</span></h2>
<br />

<div id="characterList" class="form-inline">
    <!-- <div class="characterSection">
        <div class="label label-success initSection">
            <span>Ea - 1</span>
            <a class="btn btn-danger btn-xs characterRemoveIcon" onclick="removeCharacter('character1');" aria-label="Delete">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="input-group dmgSection">
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">0</div>
                  <input type="text" class="form-control dmgInput">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div> -->
</div>

<br />
<div class="container" style="width: 200px" id="addCharContainer">
  <input type="name" id="inputName" class="form-control" placeholder="Character Name" required autofocus>
  <div class="form-group">
    <label for="sel1">Initiative:</label>
    <select class="form-control" id="selInit">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
    </select>
  </div>
  <button class="btn btn-lg btn-primary btn-block" onclick="characterAdd()">Add</button>
</div>
<br />
<p id="btnNextTurn" class="nodisp">
<button class="btn btn-lg btn-primary" onclick="clickNextInitiative()">Next Turn</button>
</p>
<br />
<br />
<button id="btnStartBattle" class="btn btn-lg btn-success" onclick="startBattle()">Begin Battle!</button>
<script>
var characterArray = [];
var characterNumber = 0;

function characterAdd(){
    var name = document.getElementById("inputName").value;
    document.getElementById("inputName").value = "";
    var init = Number(document.getElementById("selInit").value);
    characterNumber = characterNumber + 1;
    var characterID="character";
    characterID = characterID + characterNumber;

    var onClickFunc = "removeCharacter('" + characterID + "');"

    if(name === ""){
      return;
    }

    var character = {
        name: name,
        init: init,
        dmgTaken: 0,
        id:characterID
    };

    var insertLocation = -1;

    for (var i = 0; i < characterArray.length; i++){
      if (characterArray[i].init < init && insertLocation === -1){
        insertLocation = i;
        break;
      }
    }

    if (insertLocation === -1){
        insertLocation = characterArray.length;
    }

    characterArray.splice(insertLocation, 0, character);

    var characterSection = document.createElement("div");
    characterSection.className = "characterSection";
    characterSection.id = characterID;

    var initSection = document.createElement('div');
    initSection.className="initSection label";
    if (insertLocation === 0) {
        initSection.classList.add("label-success");
    }
    else{
        initSection.classList.add("label-info");
    }

    var nameSpan = document.createElement('span');
    nameSpan.innerText = name + " - " + init;

    var removeIcon = document.createElement('a');
    removeIcon.className = "btn btn-danger btn-xs characterRemoveIcon";
    if (removeIcon.addEventListener) { // For all major browsers, except IE 8 and earlier
        removeIcon.addEventListener("click", function(){ removeCharacter(characterID); });
    }
    else if (removeIcon.attachEvent) { // For IE 8 and earlier versions
        removeIcon.attachEvent("onclick", function(){ removeCharacter(characterID); });
    }
    removeIcon.innerHTML ='<i class="fa fa-times" aria-hidden="true"></i>';

    initSection.appendChild(nameSpan);
    initSection.appendChild(removeIcon);

    var dmgTotalID = characterID + "DmgTotal";
    var dmgAddID = characterID + "DmgAdd";

    var dmgSection = document.createElement('div');
    dmgSection.className = "input-group dmgSection";

    var formGrp = document.createElement('div');
    formGrp.className = "form-group";

    var inputGrp = document.createElement('div');
    inputGrp.className = "input-group";

    var dmgDiv = document.createElement('div');
    dmgDiv.id = dmgTotalID;
    dmgDiv.className = "input-group-addon";
    dmgDiv.innerText = character.dmgTaken;

    var dmgInput = document.createElement('input');
    dmgInput.id = dmgAddID;
    dmgInput.type = "text";
    dmgInput.className = "form-control dmgInput";
    dmgInput.placeholder ="-";

    var addButton = document.createElement('button');
    addButton.className = "btn btn-primary";
    addButton.innerHTML = '<i class="fa fa-plus" aria-hidden="true"></i>';
    if (addButton.addEventListener) {                    // For all major browsers, except IE 8 and earlier
        addButton.addEventListener("click", function(){ addDamage(dmgTotalID, dmgAddID,insertLocation); });
    }
    else if (addButton.attachEvent) {                  // For IE 8 and earlier versions
        addButton.attachEvent("onclick", function(){ addDamage(dmgTotalID, dmgAddID,insertLocation); });
    }

    inputGrp.appendChild(dmgDiv);
    inputGrp.appendChild(dmgInput);
    formGrp.appendChild(inputGrp);
    dmgSection.appendChild(formGrp);
    dmgSection.appendChild(addButton);
    characterSection.appendChild(initSection);
    characterSection.appendChild(dmgSection);

    var characterContainer = document.getElementById("characterList");
    characterContainer.insertBefore(characterSection, characterContainer.children[insertLocation]);


    if (characterContainer.children.length > 1 && insertLocation === 0) {
        makeCharacterNotActive(characterContainer.children[1].id);
    }
}

function makeCharacterActive(characterSecID){
    //this assumes that the initiative section is the first child in the child section
    var initSection = document.getElementById(characterSecID).children[0];
    if (initSection.classList.contains('label-info')) {
        initSection.classList.remove('label-info');
    }
    if (!initSection.classList.contains('label-success')) {
        initSection.classList.add('label-success');
    }
}

function makeCharacterNotActive(characterSecID){
    //this assumes that the initiative section is the first child in the child section
    var initSection = document.getElementById(characterSecID).children[0];
    if (initSection.classList.contains('label-success')) {
        initSection.classList.remove('label-success');
    }
    if (!initSection.classList.contains('label-info')) {
        initSection.classList.add('label-info');
    }
}

function findActiveCharacter(){
    var characterContainer = document.getElementById("characterList");
    var curNode;
    for (var i = 0; i < characterContainer.children.length; i++) {
        //this assumes that the initiative section is the first child in the child section
        if (characterContainer.children[i].children[0].classList.contains("label-success")) {
            curNode = characterContainer.children[i];
        }
    }
    return curNode;
}

function isCharacterActive(characterSecID){
    //this assumes that the initiative section is the first child in the child section
    return document.getElementById(characterSecID).children[0].classList.contains("label-success");
}

function startBattle(){
  var node = document.getElementById("btnStartBattle");
  node.parentNode.removeChild(node);
  node = document.getElementById("addCharContainer");
  node.parentNode.removeChild(node);

  document.getElementById("btnNextTurn").className = "";
  document.getElementById("roundTracker").className = "";
}

function clickNextInitiative(){
    var characterContainer = document.getElementById("characterList");
    var curNode = findActiveCharacter();

    makeCharacterNotActive(curNode.id);

    var nextNode = curNode.nextElementSibling;
    if (nextNode === null){
        nextNode = characterContainer.children[0];
        nextRound();
    }

    makeCharacterActive(nextNode.id);
}

function nextRound(){
    var roundCounter = document.getElementById("roundCounter");
    var currRound = Number(roundCounter.innerHTML);
    currRound++;
    roundCounter.innerHTML = currRound;
}

function removeCharacter(id){
    var index = getCharacterByID(id);
    var newIndex = index;
    var newFocus = false;
    var characterContainer = document.getElementById("characterList");
    //
    if (isCharacterActive(id)) {
        newFocus = true;
    }
    characterArray.splice(index,1);
    document.getElementById(id).remove();

    if (newFocus && characterArray.length > 0) {
        if (newIndex > characterArray.length-1) {
            newIndex = 0;
            nextRound();
        }
        makeCharacterActive(characterArray[newIndex].id);
    }
}

function addDamage(totalDmgID,addDmgID,index){
    var totalDmg = parseInt(document.getElementById(totalDmgID).innerText);
    totalDmg = totalDmg + parseInt(document.getElementById(addDmgID).value);
    if (!isNaN(totalDmg)) {
        document.getElementById(totalDmgID).innerText =  totalDmg;
        characterArray[index].dmgTaken = totalDmg;
    }
    document.getElementById(addDmgID).value = "";
}

function getCharacterByID(id){
    var index;
    for (var i = 0; i < characterArray.length; i++) {
        if (characterArray[i].id === id) {
            index = i;
        }
    }

    return index;
}

</script>
{% endblock %}
